* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  background: #262625;
  font-family: space mono, sans-serif;
}

button, input{
  font-family: space mono, sans-serif;
  border: none;
}

input{
  text-align: center;
  border-radius: 5px;
  background-color: #DBDBDB;
  padding: .50rem 1rem;
  font-size: 16px;
}


/*---------------------------
Header of Page
------------------------------*/

h1 {
  margin: 0 auto;
  text-align: center;
  padding: 1rem 1.5rem 1rem;
  font-size: 50px;
  color: #DEFF28;
  background-color: #262625;
}
/*----------------------------------
Main Page Container
------------------------------------*/

/*GRID*/
.main-container{
  display: grid;
  grid-template-rows: 1fr 2.5fr 1fr 2.5fr;
  border-radius: 1rem;
  padding: 3rem;
  background-color: whitesmoke;
}
/*Each Section of Page*/
.each-container{
  padding: 1rem;
  font-size: 10px;
}
/*--------------------------------
Bill
---------------------------------*/

.bill-container{
  background-color: whitesmoke;
}
.bill-container input{
  width: 95%;
  text-align: end;
}

/*-----------------------------------
Tip Selection
------------------------------------*/

.tip-container{
  background-color: whitesmoke;
}

/*GRID*/
.tip-div-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
/*Tip % Buttons*/
.tip-button{
  width: 100%;
  height: 100%;
  background-color: #262625;
  color: white;
  font-size: 1.5rem;
  border-radius: 5px;
  padding: .5rem 0;
}

.custom-button{
  width: 100%;
  height: 100%;
  background-color: #262625;
  color: #DEFF28;
  font-size: 1.5rem;
  border-radius: 5px;
  padding: .5rem 0;
}



/*-----------------------------------
Number of People
------------------------------------*/

.tpeople-container{
  background-color: #whitesmoke;
}

.tpeople-container input{
  width: 95%;
  text-align: center;
}

/*------------------------------------
Amount for Tip and Tip+Total
-------------------------------------*/

.total-container{
  background-color: #262625;
  border-radius:15px;
}

/*Tip,Total,Reset button Column display*/

.total-div-container{
  display: flex;
  flex-direction: column;
}

/*Seperation between amount and $0.00*/

.total-amount, .tip-amount{
  display: flex;
  justify-content: space-between;
  padding: .75rem;
  color: white;
}
#amountOutput{
  color: #DEFF28;
  font-size: 2rem;
}
#totalOutput{
  color: #DEFF28;
  font-size: 2rem;
}
.reset-button{
  width: 100%;
  height: 100%;
  background-color: #DEFF28;
  color: black;
  font-size: 1.5rem;
  border-radius: 5px;
  padding: .5rem 0;
}