* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}


body {
  background: #262625;
  font-family: space mono, sans-serif;
}

button, input{
  font-family: space mono, sans-serif;
  border: none;
}

input{
  text-align: center;
  border-radius: 5px;
  background-color: #DBDBDB;
  padding: .50rem 1rem;
  font-size: 20px;
}


/*---------------------------
Header of Page
------------------------------*/

h1 {
  margin: 0 auto;
  text-align: center;
  padding: .5rem 1rem .5rem;
  font-size: 50px;
  color: #DEFF28;
  background-color: #262625;
}
/*----------------------------------
Main Page Container
------------------------------------*/

/*GRID*/
.main-container{
  display: grid;
  grid-template-rows: 1fr 2.5fr 1fr 2.5fr;
  border-radius: 1rem;
  padding: 1rem;
  background-color: whitesmoke;
}
/*Each Section of Page*/
.each-container{
  padding: .5rem;
  font-size: 10px;
}
/*--------------------------------
Bill
---------------------------------*/

.bill-container{
  background-color: whitesmoke;
}
.bill-container input{
  width: 95%;
  text-align: end;
}

/*-----------------------------------
Tip Selection
------------------------------------*/

.tip-container{
  background-color: whitesmoke;
}

/*GRID*/
.tip-div-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
/*Tip % Buttons*/
.tip-button{
  width: 95%;
  height: 80%;
  background-color: #262625;
  color: white;
  font-size: 1.5rem;
  border-radius: 5px;
  padding: .5rem 0 1rem;
  cursor: pointer;
}
.tip-button:hover{
  background-color: #c3df23;
  position: relative;
  left: -1px;
  top: -1px;
  padding: 0px;
}

.custom-button{
  width: 95%;
  height: 80%;
  background-color: #262625;
  color: #DEFF28;
  font-size: 1.5rem;
  border-radius: 5px;
  padding: .5rem 0 1rem;
}
.active-button{
  background-color: #DEFF28;
  color: black;
}


/*-----------------------------------
Number of People
------------------------------------*/

.tpeople-container{
  background-color: #whitesmoke;
}

.tpeople-container input{
  width: 95%;
  text-align: center;
}

/*------------------------------------
Amount for Tip and Tip+Total
-------------------------------------*/
#outputSection{

}

.total-container{
  background-color: #262625;
  border-radius:15px;
}

/*Tip,Total,Reset button Column display*/

.total-div-container{
  display: flex;
  flex-direction: column;
}

/*Seperation between amount and $0.00*/

.total-amount, .tip-amount{
  display: flex;
  justify-content: space-between;
  padding: .75rem;
  color: white;
}
#amountOutput{
  color: #DEFF28;
  font-size: 2rem;
}
#totalOutput{
  color: #DEFF28;
  font-size: 2rem;
}
.reset-button{
  width: 100%;
  height: 100%;
  background-color: #DEFF28;
  color: black;
  font-size: 1.5rem;
  border-radius: 5px;
  padding: .5rem 0;
  cursor: pointer;
}

.reset-button:hover{
  background-color: #c3df23;
}

/*-----------------Media Queries
-----------------------------------*/

@media only screen and (min-width: 600px){
  .main-container {
    max-width: 1000px;
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    margin: 0 auto;
  }
  .bill-container {
    order: 1;
  }
  .tip-container {
    order: 1;
  }
    .tpeople-container {
    order: 1;
  }
    .total-container {
    order: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-end: 3;
    grid-column-start: 2;
  }
  .total-amount{
    margin-bottom: 10rem;
  }
}
